<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Dados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
</head>
<body>

    <header class="top-nav">
        <div class="nav-inner">
            <div class="nav-left">
                <h1>MEUPROVAO<span class="dot">.</span></h1>
                <button class="nav-button" id="toggleCalculatorSubmit">Minha Nota</button>
            </div>
            <div class="nav-right">
                <a href="{{ url_for('index_page') }}" class="nav-button">Buscar Notas</a>
            </div>
        </div>
    </header>

    <div class="main-container">
        <div class="containerCalculadora" id="calculatorContainerSubmit">
            <div class="calculadora">
                <div class="input-row">
                    <div class="input-group">
                        <label for="acertosSubmit">Acertos 2023:</label>
                        <input type="number" id="acertosSubmit" placeholder="Acertos 2023">
                    </div>
                    <div class="input-group">
                        <label for="acertos2Submit">Acertos 2024:</label>
                        <input type="number" id="acertos2Submit" placeholder="Acertos 2024">
                    </div>
                    <div class="input-group">
                        <label for="acertos3Submit">Acertos 2025:</label>
                        <input type="number" id="acertos3Submit" placeholder="Acertos 2025">
                    </div>
                    <div class="input-group">
                        <label for="acertosRSubmit">Redação:</label>
                        <input type="number" id="acertosRSubmit" placeholder="Nota Redação">
                    </div>

                    <div class="button-result-group">
                        <button id="calculateButtonSubmit">Calcular</button>
                        <div id="resultSubmit"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="search-container">
            <div class="search-fields">
                <h2>Enviar Novos Dados</h2>
                <form id="dataForm">
                    <div class="input-group">
                        <label for="campo1">Nome:</label>
                        <input type="text" id="campo1" placeholder="Digite seu nome completo" required>
                    </div>

                    <div class="input-group">
                        <label for="campo2">Tipo de Cota:</label>
                        <select id="campo2" required>
                            <option value="">Selecione uma opção</option>
                            <option value="L1_renda">L1 (renda)</option>
                            <option value="L2_renda_ppi">L2 (renda+ppi)</option>
                            <option value="L3_sem_cota">L3 (sem cota)</option>
                            <option value="L4_apenas_ppi">L4 (apenas ppi)</option>
                        </select>
                    </div>

                    <div class="input-group">
                        <label for="campo3">Instituição:</label>
                        <input type="text" id="campo3" list="institutionsList" placeholder="Digite ou selecione a Instituição" required>
                        <datalist id="institutionsList"></datalist>
                    </div>

                    <div class="input-group">
                        <label for="campo4">Curso:</label>
                        <input type="text" id="campo4" list="coursesList" placeholder="Digite ou selecione o Curso" required>
                        <datalist id="coursesList"></datalist>
                    </div>

                    <div class="input-group">
                        <label for="campoUnicoNumero">Sua nota final:</label>
                        <input type="number" id="campoUnicoNumero" placeholder="Digite sua nota" required>
                    </div>
                    
                    <button type="submit" class="nav-button">Enviar Dados</button>
                </form>
                <p id="formMessage"></p>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-inner">
            <h3>Grupo de Apoio para Vestibulandos 2025</h3>
            <p>Entre no grupo do WhatsApp e tire suas dúvidas com outros candidatos!</p>
            <a class="group-link" href="https://chat.whatsapp.com/EP0btFILC5s38znclDM3pO" target="_blank">Entrar no Grupo</a>
            <h3>Contato</h3>
            <div class="contact-container">
                <div class="contact-box">
                    <p><strong>Kauan Yuri</strong></p>
                    <p>WhatsApp:
                        <a href="https://wa.me/5516994297281" target="_blank">16 99429-7281</a>
                    </p>
                    <p>Instagram:
                        <a href="https://www.instagram.com/dev.kauan" target="_blank">@dev.kauan</a>
                    </p>
                </div>
                <div class="contact-box">
                    <p><strong>Felipe Galvão</strong></p>
                    <p>WhatsApp:
                        <a href="https://wa.instagram.com/felipe.prazeresz" target="_blank">16 99214-5809</a>
                    </p>
                    <p>Instagram:
                        <a href="https://www.instagram.com/felipe.prazeresz" target="_blank">@felipe.prazeresz</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script>
        const SUPABASE_URL = 'https://iradczvlimgyukwbwqcl.supabase.co';
        const SUPABASE_ANON_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlyYWRjenZsaW1neXVrd2J3cWNsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDgxMTQwMDcsImV4cCI6MjA2MzY5MDAwN30.CcLvcjhUaNvgSEHFunka_Er-RQ8iwMKInP5lvIrlqIY';

        const { createClient } = supabase;
        const supabaseClient = createClient(SUPABASE_URL, SUPABASE_ANON_KEY);

        const campo3Input = document.getElementById('campo3');
        const campo4Input = document.getElementById('campo4');
        const institutionsList = document.getElementById('institutionsList');
        const coursesList = document.getElementById('coursesList');
        const formMessage = document.getElementById('formMessage');

        const toggleCalculatorSubmit = document.getElementById('toggleCalculatorSubmit');
        const calculatorContainerSubmit = document.getElementById('calculatorContainerSubmit');
        const calculateButtonSubmit = document.getElementById('calculateButtonSubmit');
        let notaRealSubmit = 0;

        toggleCalculatorSubmit.addEventListener('click', () => {
            calculatorContainerSubmit.classList.toggle('visible');
        });

        calculateButtonSubmit.addEventListener('click', () => {
            let acertos = Number(document.getElementById('acertosSubmit').value);
            let acertos2 = Number(document.getElementById('acertos2Submit').value);
            let acertos3 = Number(document.getElementById('acertos3Submit').value);
            let acertosR = Number(document.getElementById('acertosRSubmit').value);

            let notaCalculadoraSubmit = ((acertos / 90) * 0.15) 
                                    + ((acertos2 / 90) * 0.25)
                                    + ((acertos3 / 90) * 0.40) 
                                    + ((acertosR / 20) * 0.20);

            notaRealSubmit = (notaCalculadoraSubmit * 100).toFixed(3);
            document.getElementById('resultSubmit').innerHTML = `<h2>Sua nota é: ${notaRealSubmit}</h2>`;
        });

        let allAvailableInstitutions = [];
        let allAvailableCourses = [];

        async function loadFilterData() {
            try {
                // Carregar todas as instituições distintas da tabela dados_formulario
                const { data: institutionsData, error: institutionsError } = await supabaseClient
                    .from('dados_formulario') 
                    .select('instituicao'); // CONFIRME: Coluna 'instituicao'

                if (institutionsError) {
                    console.error('Erro ao carregar instituições da tabela dados_formulario:', institutionsError);
                } else if (institutionsData) {
                    allAvailableInstitutions = [...new Set(institutionsData.map(item => item.instituicao).filter(Boolean))].sort();
                    console.log('Instituições (sugestões) carregadas de dados_formulario:', allAvailableInstitutions.length);
                }

                // Carregar todos os cursos distintos da tabela dados_formulario
                const { data: coursesData, error: coursesError } = await supabaseClient
                    .from('dados_formulario') 
                    .select('curso'); // CONFIRME: Coluna 'curso'

                if (coursesError) {
                    console.error('Erro ao carregar cursos da tabela dados_formulario:', coursesError);
                } else if (coursesData) {
                    allAvailableCourses = [...new Set(coursesData.map(item => item.curso).filter(Boolean))].sort();
                    console.log('Cursos (sugestões) carregados de dados_formulario:', allAvailableCourses.length);
                }

                if (!institutionsError && !coursesError) {
                    console.log('Dados de filtro (sugestões de instituições e cursos) carregados de dados_formulario.');
                }

            } catch (error) {
                console.error('Erro ao carregar dados para os filtros (sugestões) de dados_formulario:', error);
            }
        }

        document.addEventListener('DOMContentLoaded', loadFilterData);

        campo3Input.addEventListener('input', () => {
            const currentInput = campo3Input.value.toLowerCase();
            institutionsList.innerHTML = '';

            if (currentInput.length >= 2) {
                const filteredInstitutions = allAvailableInstitutions.filter(institution =>
                    institution.toLowerCase().includes(currentInput)
                );

                filteredInstitutions.forEach(institution => {
                    let option = document.createElement('option');
                    option.value = institution;
                    institutionsList.appendChild(option);
                });
            }
        });

        campo4Input.addEventListener('input', () => {
            const currentInput = campo4Input.value.toLowerCase();
            coursesList.innerHTML = '';

            if (currentInput.length >= 2) {
                const filteredCourses = allAvailableCourses.filter(course =>
                    course.toLowerCase().includes(currentInput)
                );

                filteredCourses.forEach(course => {
                    let option = document.createElement('option');
                    option.value = course;
                    coursesList.appendChild(option);
                });
            }
        });

        document.getElementById('dataForm').addEventListener('submit', async function(event) {
            console.log('Form submission initiated.');
            event.preventDefault(); 
            console.log('Default form submission prevented.');

            const nomeCompleto = document.getElementById('campo1').value; // Renomeado para clareza
            const tipoCota = document.getElementById('campo2').value;     // Renomeado para clareza
            const instituicao = document.getElementById('campo3').value;  // Renomeado para clareza
            const curso = document.getElementById('campo4').value;       // Renomeado para clareza
            const notaFinal = parseFloat(document.getElementById('campoUnicoNumero').value);

            console.log('Data collected:', { nomeCompleto, tipoCota, instituicao, curso, notaFinal });

            if (!tipoCota) {
                formMessage.textContent = 'Por favor, selecione uma opção para o Tipo de Cota.';
                formMessage.style.color = 'red';
                return;
            }
            
            // Limpar mensagem anterior
            formMessage.textContent = ''; 

            console.log('Attempting to send data to Supabase...');
            try {
                const { data, error } = await supabaseClient
                    .from('dados_formulario') 
                    .insert([
                        { 
                            nome: nomeCompleto,
                            tipo_cota: tipoCota,
                            instituicao: instituicao,      // CORRIGIDO: para 'instituicao'
                            curso: curso,                  // CORRIGIDO: para 'curso'
                            numero_unico: notaFinal        // CORRIGIDO: para 'numero_unico'
                        }
                    ]);

                if (error) {
                    console.error('Erro ao enviar dados para o Supabase:', error);
                    formMessage.textContent = 'Erro ao enviar dados: ' + error.message;
                    formMessage.style.color = 'red';
                } else {
                    console.log('Dados enviados com sucesso para o Supabase:', data);
                    formMessage.textContent = 'Dados enviados com sucesso!';
                    formMessage.style.color = 'green';
                    document.getElementById('dataForm').reset(); // Limpa o formulário
                }
            } catch (err) {
                console.error('Erro inesperado durante a submissão:', err);
                formMessage.textContent = 'Ocorreu um erro inesperado. Tente novamente.';
                formMessage.style.color = 'red';
            }
        });
    </script>
</body>
</html>